* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Cairo', sans-serif;
}

:root {
  --main-blue: #2096f3;
  --secondary-blue: #0078d4;
  --main-gray: #ececec;
  --secondary-gray: #d5d5d5;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:600px) {
  .container {
    width: 580px;
  }
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width:1200px) {
  .container {
    width: 1170px;
  }

}

.header {
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo {
  color: var(--main-blue);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .main-nav {
  display: flex;
}

.header .main-nav>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}